/*Formatações*/
/*.blog-content p img {
width: 100% !important;
height: auto !important;
}*/



.row-blog{    
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 0px;
margin-left: 0px;
}



/* SECTIONS
**************************************/

.section {
    padding: 4rem 0;
    display: block;
    position: relative;
    background-color: #ffffff;
}

.section.lb {
    background-color: #edeff2;
}

.section.lb .single-post-media {
    margin-bottom: 0;
}

.embed-responsive-item {
    padding: 0.4rem !important;
    display: block;
    background-color: #fff;
}

.first-section {
    padding: 0;
    border-bottom: 0;
}

.first-section .container-fluid {
    padding: 0 3px;
}

.section-title h3 {
    display: block;
    margin: 0 0 1.5rem;
    padding: 0;
    line-height: 1;
}

.section-title h3 a {
    border-radius: 3px;
    color: #fff !important;
    font-size: 16px;
    line-height: 1;
    padding: 0.1rem 1.3rem;
}

.lightbg {
    background-color: #f8e1f8;
}

.nopad {
    padding: 0 !important;
    margin: 0 !important;
}

.nopad img {
    width: 100%;
}


.pitem {
    padding: 1rem !important;
}

.pitem img {
    width: 100%;
}



.portfolio .blog-meta span {
    border-radius: 3px;
}

.portfolio .blog-meta small::after,
.portfolio .blog-meta small a {
    color: #a3a5a8 !important;
    letter-spacing: 0.1rem;
}

.portfolio .blog-meta span a {
    color: #fff !important;
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 12px;
    margin: 1rem 0 0;
    display: inline-block;
}

.portfolio .blog-meta h4 {
    margin: 0;
    font-size: 20px;
    padding: 0.4rem 0 0.2rem;
}

.center-side,
.left-side,
.right-side {
    float: left;
    width: 33.33333%;
}

.post-media img,
.masonry-box img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img,
.masonry-box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.masonry-box img,
.masonry-box {
    width: 100%;
}

.masonry-box {
    border: 0.34rem solid #fff;
}

.small-box {
    width: 50%;
    float: left;
}

.masonry-box .blog-meta h4 {
    padding: 0.2rem 0;
}

.masonry-box .blog-meta span {
    background-color: #111111;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.1rem 1rem;
}





/* PAGES 
**************************************/

.notfound h2 {
    font-family: Comic Sans MS;
    font-size: 140px;
    padding: 0 0 1.7rem;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}

.notfound h3 {
    font-size: 40px;
    padding: 0 0 0.6rem;
    margin: 0;
}

.notfound p {
    padding: 1rem 0 1.4rem;
    margin-bottom: 0;
}

.sitemap-wrapper {
    margin-bottom: 2rem;
    position: relative;
    border: 1px dashed #dadada;
    padding: 2rem;
}

.sitemap-wrapper .year {
    position: absolute;
    padding: 0 1rem;
    background-color: #ffffff;
    top: -12px;
}

.sitemap-text {
    margin: 1rem 0;
    font-weight: 500;
}

.sitemap-wrapper small {
    display: block;
    font-size: 11px;
    padding: 0;
    margin: 0 0 0.5rem;
    line-height: 1;
    text-transform: uppercase;
}

/* BLOG 
**************************************/
.post-sharing {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem 0 0;
}

.gp-button.btn-primary:hover,
.gp-button.btn-primary:focus,
.gp-button.btn-primary {
    border-color: #DA5333 !important;
    background-color: #DA5333 !important;
}

.fb-button.btn-primary:focus,
.fb-button.btn-primary:hover,
.fb-button.btn-primary {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}

.tw-button.btn-primary:hover,
.tw-button.btn-primary:focus,
.tw-button.btn-primary {
    background-color: #00B6F1 !important;
    border-color: #00B6F1 !important;
}

.tw-button i,
.fb-button i {
    margin-right: 0.5rem;
}

.post-sharing .btn {
    padding: 0.3rem 1.6rem;
    border-radius: 3px;
    color: #ffffff !important;
}

.post-sharing .btn:hover {
    opacity: 0.9;
}

.gp-button {
    padding: 0.8rem 1rem !important;
}

.post-sharing span,
.post-sharing li {
    display: inline-block !important;
}

.single-post-media {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.single-post-media img {
    width: 100%;
}

.blog-title-area {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 3rem;
}

.blog-title-area .breadcrumb {
    float: none;
    text-align: left;
    padding: 0;
    color: #a3a5a8;
    margin: 0;
}

.blog-title-area.text-center .breadcrumb {
    text-align: center;
}

.blog-title-area .blog-meta a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog-title-area .breadcrumb-item.active,
.blog-title-area .breadcrumb-item + .breadcrumb-item::before,
.blog-title-area .blog-meta small,
.blog-title-area a {
    color: #a3a5a8;
}

.blog-title-area span {
    margin: 0.5rem 0;
    display: block;
}

.blog-title-area span a {
    padding: 0 1rem;
    color: #ffffff !important;
    border-radius: 3px;
}

.blog-title-area h3 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 7px;
    margin-top: 0;
    overflow-wrap: break-word;
}

.user_name {
    font-size: 16px;
    font-weight: 500;
}

.comments-list p {
    margin-bottom: 1rem
}

.comments-list .media-right,
.comments-list small {
    color: #999 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}

.comments-list .media {
    padding: 1rem;
    margin-bottom: 15px;
}

.media-body .btn-primary {
    padding: 5px 15px !important;
    font-size: 11px !important;
}

.last-child {
    margin-bottom: 0 !important;
}

.comments-list img {
    max-width: 80px;
    margin-right: 30px;
}

.prevnextpost .float-right {
    margin-left: 1rem;
}

.prevnextpost .w-100 {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.prevnextpost .float-left {
    margin-right: 1rem;
}

.authorbox a {
    font-weight: bold;
}

.authorbox p {
    font-style: italic;
    margin-bottom: 1rem;
}

.small-title {
    background: #edeff2 none repeat scroll 0 0;
    font-size: 16px;
    left: 5%;
    line-height: 1;
    margin: 0;
    padding: 0.6rem 1.5rem;
    position: absolute;
    text-align: center;
    top: -18px;
}

.custombox {
    position: relative;
    padding: 3rem 2rem;
    border: 1px dashed #dadada;
}

.pp {
    padding-left: 5%;
    padding-right: 5%;
}

.pp .float-left {
    margin: 0 2rem 1rem -3rem;
}

.pp a {
    font-weight: bold;
}

.img-fullwidth {
    width: 100%;
    margin-bottom: 2rem;
}

.check {
    padding-bottom: 0;
    margin-bottom: 25px;
    list-style: none
}

.check li:before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: 0.5rem;
    color: #111111;
}

.page-wrapper .banner-spot {
    padding: 0.4rem;
    background-image: none;
}


.banner-spot {
    background: #edeff2 url("images/ads-bg.png") no-repeat scroll center right / auto 100%;
    clear: both;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.banner-img img {
    margin: auto;
    text-align: center;
    max-width: 768px;
    float: none;
    width: 100%;
    display: block;
}

.blog-meta h4 {
    padding: 1rem 0 0.5rem;
    margin: 0;
    font-size: 21px;
}

.blog-meta.big-meta h4 {
    padding: 1rem 0 0.6rem;
    margin: 0;
    font-size: 28px;
}

.blog-meta.big-meta p {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.blog-meta small {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.blog-meta small:after {
    content: "/";
    padding-left: 1rem;
}

.blog-meta small:last-child:after {
    content: ""
}

hr.invis {
    border: 0;
    margin: 2rem 0;
}

hr.invis1 {
    border: 0;
    margin: 4rem 0;
}

hr.invis2 {
    border: 0;
    margin: 6rem 0;
}

hr.invis3 {
    border: 0;
    margin: 0;
}

.post-media {
    position: relative;
    overflow: hidden;
}

.shadoweffect {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.shadow-desc {
    position: absolute;
    bottom: 0;
    padding: 1rem 1.5rem;
}

.shadow-desc .blog-meta small::after,
.shadow-desc .blog-meta a,
.shadow-desc .blog-meta h4 a {
    color: #ffffff !important;
}

.small-box .shadow-desc h4 {
    font-size: 16px;
    line-height: 1.3;
}

.small-box .shadow-desc {
    padding: 1rem;
}

.hovereffect {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0.5;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}

.post-media:hover .hovereffect span::before,
.post-media:hover .hovereffect {
    visibility: visible;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.hovereffect span::before {
    width: 90px;
    text-align: center;
    left: 0;
    right: 0;
    top: 45%;
    margin: -2rem auto;
    visibility: hidden;
    position: absolute;
    height: 90px;
    display: block;
    content: url(images/hover.png);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.hovereffect span.videohover::before {
    content: url(images/videohover.png);
}

.blog-list .blog-meta.big-meta h4 {
    margin-left: -20%;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem 1.5rem 1rem;
}

.blog-custom-build .blog-meta {
    margin: -4rem 3rem 0;
    z-index: 11;
    padding: 2rem 2rem;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #edeff2;
}

.blog-custom-build .blog-meta.big-meta h4 {
    font-size: 28px;
    margin: 0;
    padding: 0 0 1rem;
}

.blog-custom-build .post-sharing .btn {
    padding: 0.7rem 1rem !important;
}

.blog-custom-build .post-sharing {
    margin: 0 0 1.5rem;
    padding: 0;
}

.blog-grid-system .blog-meta.big-meta h4 {
    font-size: 21px;
}

.blog-video-system .col-md-12,
.blog-grid-system .col-md-6 {
    margin-bottom: 3rem;
}

.blog-video-system .blog-meta.big-meta h4 {
    padding: 1rem 0;
    font-size: 24px;
}

.blog-video-system .btn {
    margin-top: 1rem;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog span,
.blog p,
.blog small,
.blog strong {
    font-family: 'Poppins', serif !important;
}

.first-slot {
    float: left;
    width: 50%;
}

.last-slot,
.second-slot {
    float: left;
    width: 25%;
}

.first-slot .blog-meta h4 {
    font-size: 31px;
    line-height: 1.4;
}

.first-section .blog-meta h4 {
    font-weight: 600;
    padding: 0.8rem 0 0.5rem !important;
}

.blog-meta.big-meta h4 {
    font-size: 24px;
}

.single-wrapper {
    margin-top: 3.5rem;
}

.first-section {
    margin-top: 4rem;
}

.blog-grid-system .color-orange {
    display: block;
    margin-top: 1rem;
}

.blog-grid-system .color-orange a {
    color: #ffffff !important;
    font-size: 13px;
    padding: 0 0.7rem;
    border-radius: 3px;
}

.blog-top {
    margin-bottom: 2rem;
}

.blog-top h4 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.banner-spot {
    padding: 1rem !important;
    border: 1px solid #e2e2e2;
}

.blog-top .fa {
    font-size: 18px !important;
    line-height: 1 !important;
    padding-left: 10px;
}

.blog-meta small a,
.blog-meta small {
    font-weight: 500;
    color: #999 !important;
}

.fa-star {
    font-size: 12px;
    margin: 0 -2px 0 0;
}

.social-button {
    background-color: #dddddd;
    display: table;
    padding: 0.5rem 1rem;
    color: #ffffff !important;
    position: relative;
    width: 100%;
}

.social-button .fa {
    color: #ffffff !important;
}

.social-button p {
    margin: 10px 0 0;
    padding: 0;
    color: #ffffff !important;
    line-height: 1;
}

.facebook-button {
    background-color: #3b5998;
}

.twitter-button {
    background-color: #1da1f2;
}

.google-button {
    background-color: #ea4335;
}

.youtube-button {
    background-color: #cd201f;
}

.blog-meta .bg-orange {
    color: #ffffff !important;
    padding: 0 0.8rem;
    border-radius: 3px;
}

.blog-meta small.firstsmall:after {
    content: "" !important;
    padding-left: 0;
}

.blog-title-area span a {
    font-size: 13px;
}

.pp .float-right {
    margin-left: 2rem;
}

.bg-orange {
    background-color: #FF6347 !important;
}

.bg-orange,
.masonry-box:hover .blog-meta span.bg-orange,
.color-orange a {
    background-color: #FF6347 !important;
}


/*.authorbox p a,
.pp a,
.blog-top .fa-rss,
a:hover,
a:focus {
    color: #FF6347 !important;
}*/

.blog-meta a:hover {
    color: #51c1ec !important;
}

.blog-meta button:hover {
    color: #51c1ec !important;
}

.gp-button.btn-primary:hover,
.gp-button.btn-primary:focus,
.gp-button.btn-primary {
    border-color: #DA5333 !important;
    background: #DA5333 !important;
}

.fb-button.btn-primary:focus,
.fb-button.btn-primary:hover,
.fb-button.btn-primary {
    background: #3B5998 !important;
    border-color: #3B5998 !important;
}

.tw-button.btn-primary:hover,
.tw-button.btn-primary:focus,
.tw-button.btn-primary {
    background: #00B6F1 !important;
    border-color: #00B6F1 !important;
}

@media (max-width: 1080px) {
    .first-section .blog-meta h4 {
        font-size: 18px;
    }
}

@media (max-width: 980px) {
    .first-section .blog-meta h4 {
        font-size: 16px;
    }
    .shadow-desc {
        padding: 1rem 0.5rem;
    }
    .last-slot,
    .second-slot,
    .first-slot {
        float: none;
        width: 100%;
        display: block;
    }
}