/* RESPONSIVE 
**************************************/

@media (max-width: 989px) {
    
    .custombox .blog-list-widget,
    .custombox .blog-box {
        margin: 1rem 0;
    }
    
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .post-sharing .btn {
        padding: 0.6rem !important;
    }
    .blog-custom-build .down-mobile,
    .blog-title-area .down-mobile {
        display: none !important;
    }
    
    .blog-list .blog-meta.big-meta h4 {
        background-color: #ffffff;
        margin-left: 0;
        margin-top: 1rem;
        padding: 1rem 0;
    }
}

@media (max-width: 728px) {
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 100%;
    }
    .blog-meta h4 {
        font-size: 18px;
    }
}

@media (max-width: 590px) {
    .comment-list .media {
        float: none !important;
        width: 100%;
        display: block;
    }
    .blog-title-area {
        text-align: center;
    }
    .pp .float-right,
    .pp .float-left {
        width: 100%;
        margin: 1rem 0;
    }
    .blog-title-area h3 {
        font-size: 34px;
    }
    .section-title {
        margin-top: 1rem;
    }
    .small-box {
        float: none;
        width: 100%;
    }
    .blog-meta.big-meta h4 {
        font-size: 21px;
    }
    .card-block {
        padding: 1rem 0.5rem;
    }
}

