/*Logo*/
.logo{width:150px;height:auto;}
/*Margins*/
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}

.thumbnail{
  border-radius: 13px;
  box-shadow:6px 6px 10px #adadad;
}

#bloco_login_adm{
 background-color: #fff;
 border-radius: 15px;
 margin: 20px;
 padding: 30px;
    
    
}